.img-error,
.img-loading {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 100px;
  height: 100px;
}
.img-loading {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
